<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "CopiBands", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "CopiBandsとは",   about_path %></li>
        <li><%= link_to "個人情報の取扱い",   privacy_path %></li>
        <li><%= link_to "利用規約", policy_path %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
